@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
    @apply m-0;
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    --background: oklch(100% 0.00011 271.152);
    --foreground: oklch(0.141 0.005 285.823);
    --card: oklch(0.967 0.001 286.375);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(70.983% 0.00114 13.274);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.21 0.006 285.885);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(74.854% 0.00433 286.008 / 0.721);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(21.033% 0.00588 285.832 / 0.714);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --success: oklch(0.6 0.15 142);
    --success-foreground: oklch(0.985 0 0);
    --border: oklch(32.897% 0.00004 271.152);
    --input: oklch(32.897% 0.00004 271.152);
    --input-accent: oklch(65.823% 0.00739 286.052 / 0.366);
    --ring: oklch(0.871 0.006 286.286);
    --shadow: oklch(20.505% 0.00198 286.056 / 0.765);
    --unread: oklch(77.464% 0.1392 228.017);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --header: oklch(18.841% 0.00828 17.771);
    --header-foreground: oklch(90.078% 0.015 286.002);
    --header-primary: oklch(0.21 0.006 285.885);
    --header-primary-foreground: oklch(0.985 0 0);
    --header-accent: oklch(0.937 0.001 286.375);
    --header-accent-foreground: oklch(0.21 0.006 285.885);
    --header-border: oklch(0.92 0.004 286.32);
    --header-ring: oklch(0.871 0.006 286.286);
    --header-popover: oklch(0.98 0 0);
    --header-popover-foreground: oklch(0.141 0.005 285.823);
    --footer: oklch(18.745% 0.00829 274.449);
    --footer-foreground: oklch(90.078% 0.015 286.002 / 0.75);
    --footer-primary: oklch(0.21 0.006 285.885);
    --footer-primary-foreground: oklch(0.985 0 0);
    --footer-accent: oklch(32.147% 0.00178 286);
    --footer-accent-foreground: oklch(97.913% 0.00011 271.152);
    --footer-border: oklch(0.92 0.004 286.32);
    --footer-ring: oklch(0.871 0.006 286.286);
    --sidebar: hsl(0 0% 98%);
    --sidebar-foreground: hsl(240 5.3% 26.1%);
    --sidebar-primary: hsl(240 5.9% 10%);
    --sidebar-primary-foreground: hsl(0 0% 98%);
    --sidebar-accent: hsl(240 4.8% 95.9%);
    --sidebar-accent-foreground: hsl(240 5.9% 10%);
    --sidebar-border: hsl(220 13% 91%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);
    --card: oklch(21.952% 0.00777 285.704);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.274 0.006 286.033);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.21 0.006 285.885);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --success: oklch(0.4 0.15 142);
    --success-foreground: oklch(0.985 0 0);
    --border: oklch(71.959% 0.01875 285.863);
    --input: oklch(0.474 0.006 286.033);
    --input-accent: oklch(91.973% 0.00413 285.946 / 0.366);
    --ring: oklch(0.442 0.017 285.786);
    --shadow: oklch(29.598% 0.01262 285.574);
    --unread: oklch(47.72% 0.17775 265.995);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --header: oklch(0.21 0.006 285.885);
    --header-foreground: oklch(0.985 0 0);
    --header-primary: oklch(0.488 0.243 264.376);
    --header-primary-foreground: oklch(0.985 0 0);
    --header-accent: oklch(0.304 0.006 286.033);
    --header-accent-foreground: oklch(0.985 0 0);
    --header-border: oklch(0.274 0.006 286.033);
    --header-ring: oklch(0.442 0.017 285.786);
    --header-popover: oklch(0.274 0.006 286.033);
    --header-popover-foreground: oklch(0.985 0 0);
    --footer: oklch(0.21 0.006 285.885);
    --footer-foreground: oklch(0.985 0 0);
    --footer-primary: oklch(0.488 0.243 264.376);
    --footer-primary-foreground: oklch(0.985 0 0);
    --footer-accent: oklch(97.913% 0.00011 271.152);
    --footer-accent-foreground: oklch(60% 0.00178 286);
    --footer-border: oklch(0.274 0.006 286.033);
    --footer-ring: oklch(0.442 0.017 285.786);
    --sidebar: hsl(240 5.9% 10%);
    --sidebar-foreground: hsl(240 4.8% 95.9%);
    --sidebar-primary: hsl(224.3 76.3% 48%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(240 3.7% 15.9%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
    --breakpoint-md: 52rem;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-input-accent: var(--input-accent);
    --color-ring: var(--ring);
    --color-unread: var(--unread);
    --color-shadow: var(--shadow);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-header: var(--header);
    --color-header-foreground: var(--header-foreground);
    --color-header-primary: var(--header-primary);
    --color-header-primary-foreground: var(--header-primary-foreground);
    --color-header-accent: var(--header-accent);
    --color-header-accent-foreground: var(--header-accent-foreground);
    --color-header-border: var(--header-border);
    --color-header-ring: var(--header-ring);
    --color-header-popover: var(--header-popover);
    --color-header-popover-foreground: var(--header-popover-foreground);
    --color-footer: var(--footer);
    --color-footer-foreground: var(--footer-foreground);
    --color-footer-primary: var(--footer-primary);
    --color-footer-primary-foreground: var(--footer-primary-foreground);
    --color-footer-accent: var(--footer-accent);
    --color-footer-accent-foreground: var(--footer-accent-foreground);
    --color-footer-border: var(--footer-border);
    --color-footer-ring: var(--footer-ring);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .animate-fade-in {
        opacity: 0;
        animation: fade-in var(--tw-duration, 1s) ease-in-out
            var(--tw-animation-delay, 0s) forwards;
    }
}
